.heads_1{background-position:0px 0px!important;}
.heads_2{background-position:0px -16px!important;}
.heads_3{background-position:0px -32px!important;}
.heads_4{background-position:0px -48px!important;}
.heads_5{background-position:0px -64px!important;}
.heads_6{background-position:0px -80px!important;}
.heads_7{background-position:0px -96px!important;}
.heads_8{background-position:0px -112px!important;}
.heads_9{background-position:0px -128px!important;}
.heads_10{background-position:0px -144px!important;}
.heads_11{background-position:0px -160px!important;}
.heads_12{background-position:0px -176px!important;}
.heads_13{background-position:0px -192px!important;}
.heads_14{background-position:0px -208px!important;}
.heads_15{background-position:0px -224px!important;}
.heads_16{background-position:0px -240px!important;}
.heads_17{background-position:0px -256px!important;}
.heads_18{background-position:0px -272px!important;}
.heads_19{background-position:0px -288px!important;}
.heads_20{background-position:0px -304px!important;}
.heads_21{background-position:0px -320px!important;}
.heads_22{background-position:0px -336px!important;}
.heads_23{background-position:0px -352px!important;}
.heads_24{background-position:0px -368px!important;}
.heads_25{background-position:0px -384px!important;}
.heads_26{background-position:0px -400px!important;}
.heads_27{background-position:0px -416px!important;}
.heads_28{background-position:0px -432px!important;}
.heads_29{background-position:0px -448px!important;}
.heads_30{background-position:0px -464px!important;}
.heads_31{background-position:0px -480px!important;}
.heads_32{background-position:0px -496px!important;}
.heads_33{background-position:-16px 0px!important;}
.heads_34{background-position:-16px -16px!important;}
.heads_35{background-position:-16px -32px!important;}
.heads_36{background-position:-16px -48px!important;}
.heads_37{background-position:-16px -64px!important;}
.heads_38{background-position:-16px -80px!important;}
.heads_39{background-position:-16px -96px!important;}
.heads_40{background-position:-16px -112px!important;}
.heads_41{background-position:-16px -128px!important;}
.heads_42{background-position:-16px -144px!important;}
.heads_43{background-position:-16px -160px!important;}
.heads_44{background-position:-16px -176px!important;}
.heads_45{background-position:-16px -192px!important;}
.heads_46{background-position:-16px -208px!important;}
.heads_47{background-position:-16px -224px!important;}
.heads_48{background-position:-16px -240px!important;}
.heads_49{background-position:-16px -256px!important;}
.heads_50{background-position:-16px -272px!important;}
.heads_51{background-position:-16px -288px!important;}
.heads_52{background-position:-16px -304px!important;}
.heads_53{background-position:-16px -320px!important;}
.heads_54{background-position:-16px -336px!important;}
.heads_55{background-position:-16px -352px!important;}
.heads_56{background-position:-16px -368px!important;}
.heads_57{background-position:-16px -384px!important;}
.heads_58{background-position:-16px -400px!important;}
.heads_59{background-position:-16px -416px!important;}
.heads_60{background-position:-16px -432px!important;}
.heads_61{background-position:-16px -448px!important;}
.heads_62{background-position:-16px -464px!important;}
.heads_63{background-position:-16px -480px!important;}
.heads_64{background-position:-16px -496px!important;}
.heads_65{background-position:-32px 0px!important;}
.heads_66{background-position:-32px -16px!important;}
.heads_67{background-position:-32px -32px!important;}
.heads_68{background-position:-32px -48px!important;}
.heads_69{background-position:-32px -64px!important;}
.heads_70{background-position:-32px -80px!important;}
.heads_71{background-position:-32px -96px!important;}
.heads_72{background-position:-32px -112px!important;}
.heads_73{background-position:-32px -128px!important;}
.heads_74{background-position:-32px -144px!important;}
.heads_75{background-position:-32px -160px!important;}
.heads_76{background-position:-32px -176px!important;}
.heads_77{background-position:-32px -192px!important;}
.heads_78{background-position:-32px -208px!important;}
.heads_79{background-position:-32px -224px!important;}
.heads_80{background-position:-32px -240px!important;}
.heads_81{background-position:-32px -256px!important;}
.heads_82{background-position:-32px -272px!important;}
.heads_83{background-position:-32px -288px!important;}
.heads_84{background-position:-32px -304px!important;}
.heads_85{background-position:-32px -320px!important;}
.heads_86{background-position:-32px -336px!important;}
.heads_87{background-position:-32px -352px!important;}
.heads_88{background-position:-32px -368px!important;}
.heads_89{background-position:-32px -384px!important;}
.heads_90{background-position:-32px -400px!important;}
.heads_91{background-position:-32px -416px!important;}
.heads_92{background-position:-32px -432px!important;}
.heads_93{background-position:-32px -448px!important;}
.heads_94{background-position:-32px -464px!important;}
.heads_95{background-position:-32px -480px!important;}
.heads_96{background-position:-32px -496px!important;}
.heads_97{background-position:-48px 0px!important;}
.heads_98{background-position:-48px -16px!important;}
.heads_99{background-position:-48px -32px!important;}
.heads_100{background-position:-48px -48px!important;}
.heads_101{background-position:-48px -64px!important;}
.heads_102{background-position:-48px -80px!important;}
.heads_103{background-position:-48px -96px!important;}
.heads_104{background-position:-48px -112px!important;}
.heads_105{background-position:-48px -128px!important;}
.heads_106{background-position:-48px -144px!important;}
.heads_107{background-position:-48px -160px!important;}
.heads_108{background-position:-48px -176px!important;}
.heads_109{background-position:-48px -192px!important;}
.heads_110{background-position:-48px -208px!important;}
.heads_111{background-position:-48px -224px!important;}
.heads_112{background-position:-48px -240px!important;}
.heads_113{background-position:-48px -256px!important;}
.heads_114{background-position:-48px -272px!important;}
.heads_115{background-position:-48px -288px!important;}
.heads_116{background-position:-48px -304px!important;}
.heads_117{background-position:-48px -320px!important;}
.heads_118{background-position:-48px -336px!important;}
.heads_119{background-position:-48px -352px!important;}
.heads_120{background-position:-48px -368px!important;}
.heads_121{background-position:-48px -384px!important;}
.heads_122{background-position:-48px -400px!important;}
.heads_123{background-position:-48px -416px!important;}
.heads_124{background-position:-48px -432px!important;}
.heads_125{background-position:-48px -448px!important;}
.heads_126{background-position:-48px -464px!important;}
.heads_127{background-position:-48px -480px!important;}
.heads_128{background-position:-48px -496px!important;}
.heads_129{background-position:-64px 0px!important;}
.heads_130{background-position:-64px -16px!important;}
.heads_131{background-position:-64px -32px!important;}
.heads_132{background-position:-64px -48px!important;}
.heads_133{background-position:-64px -64px!important;}
.heads_134{background-position:-64px -80px!important;}
.heads_135{background-position:-64px -96px!important;}
.heads_136{background-position:-64px -112px!important;}
.heads_137{background-position:-64px -128px!important;}
.heads_138{background-position:-64px -144px!important;}
.heads_139{background-position:-64px -160px!important;}
.heads_140{background-position:-64px -176px!important;}
.heads_141{background-position:-64px -192px!important;}
.heads_142{background-position:-64px -208px!important;}
.heads_143{background-position:-64px -224px!important;}
.heads_144{background-position:-64px -240px!important;}
.heads_145{background-position:-64px -256px!important;}
.heads_146{background-position:-64px -272px!important;}
.heads_147{background-position:-64px -288px!important;}
.heads_148{background-position:-64px -304px!important;}
.heads_149{background-position:-64px -320px!important;}
.heads_150{background-position:-64px -336px!important;}
.heads_151{background-position:-64px -352px!important;}
.heads_152{background-position:-64px -368px!important;}
.heads_153{background-position:-64px -384px!important;}
.heads_154{background-position:-64px -400px!important;}
.heads_155{background-position:-64px -416px!important;}
.heads_156{background-position:-64px -432px!important;}
.heads_157{background-position:-64px -448px!important;}
.heads_158{background-position:-64px -464px!important;}
.heads_159{background-position:-64px -480px!important;}
.heads_160{background-position:-64px -496px!important;}
.heads_161{background-position:-80px 0px!important;}
.heads_162{background-position:-80px -16px!important;}
.heads_163{background-position:-80px -32px!important;}
.heads_164{background-position:-80px -48px!important;}
.heads_165{background-position:-80px -64px!important;}
.heads_166{background-position:-80px -80px!important;}
.heads_167{background-position:-80px -96px!important;}
.heads_168{background-position:-80px -112px!important;}
.heads_169{background-position:-80px -128px!important;}
.heads_170{background-position:-80px -144px!important;}
.heads_171{background-position:-80px -160px!important;}
.heads_172{background-position:-80px -176px!important;}
.heads_173{background-position:-80px -192px!important;}
.heads_174{background-position:-80px -208px!important;}
.heads_175{background-position:-80px -224px!important;}
.heads_176{background-position:-80px -240px!important;}
.heads_177{background-position:-80px -256px!important;}
.heads_178{background-position:-80px -272px!important;}
.heads_179{background-position:-80px -288px!important;}
.heads_180{background-position:-80px -304px!important;}
.heads_181{background-position:-80px -320px!important;}
.heads_182{background-position:-80px -336px!important;}
.heads_183{background-position:-80px -352px!important;}
.heads_184{background-position:-80px -368px!important;}
.heads_185{background-position:-80px -384px!important;}
.heads_186{background-position:-80px -400px!important;}
.heads_187{background-position:-80px -416px!important;}
.heads_188{background-position:-80px -432px!important;}
.heads_189{background-position:-80px -448px!important;}
.heads_190{background-position:-80px -464px!important;}
.heads_191{background-position:-80px -480px!important;}
.heads_192{background-position:-80px -496px!important;}
.heads_193{background-position:-96px 0px!important;}
.heads_194{background-position:-96px -16px!important;}
.heads_195{background-position:-96px -32px!important;}
.heads_196{background-position:-96px -48px!important;}
.heads_197{background-position:-96px -64px!important;}
.heads_198{background-position:-96px -80px!important;}
.heads_199{background-position:-96px -96px!important;}
.heads_200{background-position:-96px -112px!important;}
.heads_201{background-position:-96px -128px!important;}
.heads_202{background-position:-96px -144px!important;}
.heads_203{background-position:-96px -160px!important;}
.heads_204{background-position:-96px -176px!important;}
.heads_205{background-position:-96px -192px!important;}
.heads_206{background-position:-96px -208px!important;}
.heads_207{background-position:-96px -224px!important;}
.heads_208{background-position:-96px -240px!important;}
.heads_209{background-position:-96px -256px!important;}
.heads_210{background-position:-96px -272px!important;}
.heads_211{background-position:-96px -288px!important;}
.heads_212{background-position:-96px -304px!important;}
.heads_213{background-position:-96px -320px!important;}
.heads_214{background-position:-96px -336px!important;}
.heads_215{background-position:-96px -352px!important;}
.heads_216{background-position:-96px -368px!important;}
.heads_217{background-position:-96px -384px!important;}
.heads_218{background-position:-96px -400px!important;}
.heads_219{background-position:-96px -416px!important;}
.heads_220{background-position:-96px -432px!important;}
.heads_221{background-position:-96px -448px!important;}
.heads_222{background-position:-96px -464px!important;}
.heads_223{background-position:-96px -480px!important;}
.heads_224{background-position:-96px -496px!important;}
.heads_225{background-position:-112px 0px!important;}
.heads_226{background-position:-112px -16px!important;}
.heads_227{background-position:-112px -32px!important;}
.heads_228{background-position:-112px -48px!important;}
.heads_229{background-position:-112px -64px!important;}
.heads_230{background-position:-112px -80px!important;}
.heads_231{background-position:-112px -96px!important;}
.heads_232{background-position:-112px -112px!important;}
.heads_233{background-position:-112px -128px!important;}
.heads_234{background-position:-112px -144px!important;}
.heads_235{background-position:-112px -160px!important;}
.heads_236{background-position:-112px -176px!important;}
.heads_237{background-position:-112px -192px!important;}
.heads_238{background-position:-112px -208px!important;}
.heads_239{background-position:-112px -224px!important;}
.heads_240{background-position:-112px -240px!important;}
.heads_241{background-position:-112px -256px!important;}
.heads_242{background-position:-112px -272px!important;}
.heads_243{background-position:-112px -288px!important;}
.heads_244{background-position:-112px -304px!important;}
.heads_245{background-position:-112px -320px!important;}
.heads_246{background-position:-112px -336px!important;}
.heads_247{background-position:-112px -352px!important;}
.heads_248{background-position:-112px -368px!important;}
.heads_249{background-position:-112px -384px!important;}
.heads_250{background-position:-112px -400px!important;}
.heads_251{background-position:-112px -416px!important;}
.heads_252{background-position:-112px -432px!important;}
.heads_253{background-position:-112px -448px!important;}
.heads_254{background-position:-112px -464px!important;}
.heads_255{background-position:-112px -480px!important;}
.heads_256{background-position:-112px -496px!important;}
.heads_257{background-position:-128px 0px!important;}
.heads_258{background-position:-128px -16px!important;}
.heads_259{background-position:-128px -32px!important;}
.heads_260{background-position:-128px -48px!important;}
.heads_261{background-position:-128px -64px!important;}
.heads_262{background-position:-128px -80px!important;}
.heads_263{background-position:-128px -96px!important;}
.heads_264{background-position:-128px -112px!important;}
.heads_265{background-position:-128px -128px!important;}
.heads_266{background-position:-128px -144px!important;}
.heads_267{background-position:-128px -160px!important;}
.heads_268{background-position:-128px -176px!important;}
.heads_269{background-position:-128px -192px!important;}
.heads_270{background-position:-128px -208px!important;}
.heads_271{background-position:-128px -224px!important;}
.heads_272{background-position:-128px -240px!important;}
.heads_273{background-position:-128px -256px!important;}
.heads_274{background-position:-128px -272px!important;}
.heads_275{background-position:-128px -288px!important;}
.heads_276{background-position:-128px -304px!important;}
.heads_277{background-position:-128px -320px!important;}
.heads_278{background-position:-128px -336px!important;}
.heads_279{background-position:-128px -352px!important;}
.heads_280{background-position:-128px -368px!important;}
.heads_281{background-position:-128px -384px!important;}
.heads_282{background-position:-128px -400px!important;}
.heads_283{background-position:-128px -416px!important;}
.heads_284{background-position:-128px -432px!important;}
.heads_285{background-position:-128px -448px!important;}
.heads_286{background-position:-128px -464px!important;}
.heads_287{background-position:-128px -480px!important;}
.heads_288{background-position:-128px -496px!important;}
.heads_289{background-position:-144px 0px!important;}
.heads_290{background-position:-144px -16px!important;}
.heads_291{background-position:-144px -32px!important;}
.heads_292{background-position:-144px -48px!important;}
.heads_293{background-position:-144px -64px!important;}
.heads_294{background-position:-144px -80px!important;}
.heads_295{background-position:-144px -96px!important;}
.heads_296{background-position:-144px -112px!important;}
.heads_297{background-position:-144px -128px!important;}
.heads_298{background-position:-144px -144px!important;}
.heads_299{background-position:-144px -160px!important;}
.heads_300{background-position:-144px -176px!important;}
.heads_301{background-position:-144px -192px!important;}
.heads_302{background-position:-144px -208px!important;}
.heads_303{background-position:-144px -224px!important;}
.heads_304{background-position:-144px -240px!important;}
.heads_305{background-position:-144px -256px!important;}
.heads_306{background-position:-144px -272px!important;}
.heads_307{background-position:-144px -288px!important;}
.heads_308{background-position:-144px -304px!important;}
.heads_309{background-position:-144px -320px!important;}
.heads_310{background-position:-144px -336px!important;}
.heads_311{background-position:-144px -352px!important;}
.heads_312{background-position:-144px -368px!important;}
.heads_313{background-position:-144px -384px!important;}
.heads_314{background-position:-144px -400px!important;}
.heads_315{background-position:-144px -416px!important;}
.heads_316{background-position:-144px -432px!important;}
.heads_317{background-position:-144px -448px!important;}
.heads_318{background-position:-144px -464px!important;}
.heads_319{background-position:-144px -480px!important;}
.heads_320{background-position:-144px -496px!important;}
.heads_321{background-position:-160px 0px!important;}
.heads_322{background-position:-160px -16px!important;}
.heads_323{background-position:-160px -32px!important;}
.heads_324{background-position:-160px -48px!important;}
.heads_325{background-position:-160px -64px!important;}
.heads_326{background-position:-160px -80px!important;}
.heads_327{background-position:-160px -96px!important;}
.heads_328{background-position:-160px -112px!important;}
.heads_329{background-position:-160px -128px!important;}
.heads_330{background-position:-160px -144px!important;}
.heads_331{background-position:-160px -160px!important;}
.heads_332{background-position:-160px -176px!important;}
.heads_333{background-position:-160px -192px!important;}
.heads_334{background-position:-160px -208px!important;}
.heads_335{background-position:-160px -224px!important;}
.heads_336{background-position:-160px -240px!important;}
.heads_337{background-position:-160px -256px!important;}
.heads_338{background-position:-160px -272px!important;}
.heads_339{background-position:-160px -288px!important;}
.heads_340{background-position:-160px -304px!important;}
.heads_341{background-position:-160px -320px!important;}
.heads_342{background-position:-160px -336px!important;}
.heads_343{background-position:-160px -352px!important;}
.heads_344{background-position:-160px -368px!important;}
.heads_345{background-position:-160px -384px!important;}
.heads_346{background-position:-160px -400px!important;}
.heads_347{background-position:-160px -416px!important;}
.heads_348{background-position:-160px -432px!important;}
.heads_349{background-position:-160px -448px!important;}
.heads_350{background-position:-160px -464px!important;}
.heads_351{background-position:-160px -480px!important;}
.heads_352{background-position:-160px -496px!important;}
.heads_353{background-position:-176px 0px!important;}
.heads_354{background-position:-176px -16px!important;}
.heads_355{background-position:-176px -32px!important;}
.heads_356{background-position:-176px -48px!important;}
.heads_357{background-position:-176px -64px!important;}
.heads_358{background-position:-176px -80px!important;}
.heads_359{background-position:-176px -96px!important;}
.heads_360{background-position:-176px -112px!important;}
.heads_361{background-position:-176px -128px!important;}
.heads_362{background-position:-176px -144px!important;}
.heads_363{background-position:-176px -160px!important;}
.heads_364{background-position:-176px -176px!important;}
.heads_365{background-position:-176px -192px!important;}
.heads_366{background-position:-176px -208px!important;}
.heads_367{background-position:-176px -224px!important;}
.heads_368{background-position:-176px -240px!important;}
.heads_369{background-position:-176px -256px!important;}
.heads_370{background-position:-176px -272px!important;}
.heads_371{background-position:-176px -288px!important;}
.heads_372{background-position:-176px -304px!important;}
.heads_373{background-position:-176px -320px!important;}
.heads_374{background-position:-176px -336px!important;}
.heads_375{background-position:-176px -352px!important;}
.heads_376{background-position:-176px -368px!important;}
.heads_377{background-position:-176px -384px!important;}
.heads_378{background-position:-176px -400px!important;}
.heads_379{background-position:-176px -416px!important;}
.heads_380{background-position:-176px -432px!important;}
.heads_381{background-position:-176px -448px!important;}
.heads_382{background-position:-176px -464px!important;}
.heads_383{background-position:-176px -480px!important;}
.heads_384{background-position:-176px -496px!important;}
.heads_385{background-position:-192px 0px!important;}
.heads_386{background-position:-192px -16px!important;}
.heads_387{background-position:-192px -32px!important;}
.heads_388{background-position:-192px -48px!important;}
.heads_389{background-position:-192px -64px!important;}
.heads_390{background-position:-192px -80px!important;}
.heads_391{background-position:-192px -96px!important;}
.heads_392{background-position:-192px -112px!important;}
.heads_393{background-position:-192px -128px!important;}
.heads_394{background-position:-192px -144px!important;}
.heads_395{background-position:-192px -160px!important;}
.heads_396{background-position:-192px -176px!important;}
.heads_397{background-position:-192px -192px!important;}
.heads_398{background-position:-192px -208px!important;}
.heads_399{background-position:-192px -224px!important;}
.heads_400{background-position:-192px -240px!important;}
.heads_401{background-position:-192px -256px!important;}
.heads_402{background-position:-192px -272px!important;}
.heads_403{background-position:-192px -288px!important;}
.heads_404{background-position:-192px -304px!important;}
.heads_405{background-position:-192px -320px!important;}
.heads_406{background-position:-192px -336px!important;}
.heads_407{background-position:-192px -352px!important;}
.heads_408{background-position:-192px -368px!important;}
.heads_409{background-position:-192px -384px!important;}
.heads_410{background-position:-192px -400px!important;}
.heads_411{background-position:-192px -416px!important;}
.heads_412{background-position:-192px -432px!important;}
.heads_413{background-position:-192px -448px!important;}
.heads_414{background-position:-192px -464px!important;}
.heads_415{background-position:-192px -480px!important;}
.heads_416{background-position:-192px -496px!important;}
.heads_417{background-position:-208px 0px!important;}
.heads_418{background-position:-208px -16px!important;}
.heads_419{background-position:-208px -32px!important;}
.heads_420{background-position:-208px -48px!important;}
.heads_421{background-position:-208px -64px!important;}
.heads_422{background-position:-208px -80px!important;}
.heads_423{background-position:-208px -96px!important;}
.heads_424{background-position:-208px -112px!important;}
.heads_425{background-position:-208px -128px!important;}
.heads_426{background-position:-208px -144px!important;}
.heads_427{background-position:-208px -160px!important;}
.heads_428{background-position:-208px -176px!important;}
.heads_429{background-position:-208px -192px!important;}
.heads_430{background-position:-208px -208px!important;}
.heads_431{background-position:-208px -224px!important;}
.heads_432{background-position:-208px -240px!important;}
.heads_433{background-position:-208px -256px!important;}
.heads_434{background-position:-208px -272px!important;}
.heads_435{background-position:-208px -288px!important;}
.heads_436{background-position:-208px -304px!important;}
.heads_437{background-position:-208px -320px!important;}
.heads_438{background-position:-208px -336px!important;}
.heads_439{background-position:-208px -352px!important;}
.heads_440{background-position:-208px -368px!important;}
.heads_441{background-position:-208px -384px!important;}
.heads_442{background-position:-208px -400px!important;}
.heads_443{background-position:-208px -416px!important;}
.heads_444{background-position:-208px -432px!important;}
.heads_445{background-position:-208px -448px!important;}
.heads_446{background-position:-208px -464px!important;}
.heads_447{background-position:-208px -480px!important;}
.heads_448{background-position:-208px -496px!important;}
.heads_449{background-position:-224px 0px!important;}
.heads_450{background-position:-224px -16px!important;}
.heads_451{background-position:-224px -32px!important;}
.heads_452{background-position:-224px -48px!important;}
.heads_453{background-position:-224px -64px!important;}
.heads_454{background-position:-224px -80px!important;}
.heads_455{background-position:-224px -96px!important;}
.heads_456{background-position:-224px -112px!important;}
.heads_457{background-position:-224px -128px!important;}
.heads_458{background-position:-224px -144px!important;}
.heads_459{background-position:-224px -160px!important;}
.heads_460{background-position:-224px -176px!important;}
.heads_461{background-position:-224px -192px!important;}
.heads_462{background-position:-224px -208px!important;}
.heads_463{background-position:-224px -224px!important;}
.heads_464{background-position:-224px -240px!important;}
.heads_465{background-position:-224px -256px!important;}
.heads_466{background-position:-224px -272px!important;}
.heads_467{background-position:-224px -288px!important;}
.heads_468{background-position:-224px -304px!important;}
.heads_469{background-position:-224px -320px!important;}
.heads_470{background-position:-224px -336px!important;}
.heads_471{background-position:-224px -352px!important;}
.heads_472{background-position:-224px -368px!important;}
.heads_473{background-position:-224px -384px!important;}
.heads_474{background-position:-224px -400px!important;}
.heads_475{background-position:-224px -416px!important;}
.heads_476{background-position:-224px -432px!important;}
.heads_477{background-position:-224px -448px!important;}
.heads_478{background-position:-224px -464px!important;}
.heads_479{background-position:-224px -480px!important;}
.heads_480{background-position:-224px -496px!important;}
.heads_481{background-position:-240px 0px!important;}
.heads_482{background-position:-240px -16px!important;}
.heads_483{background-position:-240px -32px!important;}
.heads_484{background-position:-240px -48px!important;}
.heads_485{background-position:-240px -64px!important;}
.heads_486{background-position:-240px -80px!important;}
.heads_487{background-position:-240px -96px!important;}
.heads_488{background-position:-240px -112px!important;}
.heads_489{background-position:-240px -128px!important;}
.heads_490{background-position:-240px -144px!important;}
.heads_491{background-position:-240px -160px!important;}
.heads_492{background-position:-240px -176px!important;}
.heads_493{background-position:-240px -192px!important;}
.heads_494{background-position:-240px -208px!important;}
.heads_495{background-position:-240px -224px!important;}
.heads_496{background-position:-240px -240px!important;}
.heads_497{background-position:-240px -256px!important;}
.heads_498{background-position:-240px -272px!important;}
.heads_499{background-position:-240px -288px!important;}
.heads_500{background-position:-240px -304px!important;}