@charset "utf-8";
* {zoom:1;}
li, span, a, dl, dt, dd, p, em {zoom:0;}
img {behavior:url(./_images/_layout/iepngfix.htc);}
.png {behavior:url(./_images/_layout/iepngfix.htc); position:relative;}
.menuz{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);opacity:0;-moz-opacity:0;}
#t1 #content_ly2 #ly2r {_height:expression((this.height<295)?"295px":"100%");}
#t1 #container1{_height:expression((this.height <265)?"265px":"100%");}
#t2 #container1{_height:expression((this.height <118)?"118px":"100%");}
#t2 #container1 #content_ly2 #container2{_height:expression((this.height <296)?"296px":"100%");}
#noticias{_margin:10px;}